*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aar
*.jks
*.keystore

# Firebase
app/google-services.json

# Local configuration files
local.properties
